
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Rescapp
Name[en_US]=Rescapp
Comment=Rescapp - Rescue Tool
Comment[en_US]=Rescapp - Rescue Tool
Comment[hr_HR]=Rescapp - Alat obnove sustava
Exec=sudo rescapp
#X-GNOME-Autostart-enabled=true
Icon=openbox.png
